<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="knightnews.android"
    >


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--Parse permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!--
  IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:protectionLevel="signature"
        android:name="knightnews.android.permission.C2D_MESSAGE"/>
    <uses-permission android:name="knightnews.android.permission.C2D_MESSAGE"/>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false">
    </uses-feature>


    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:hardwareAccelerated="true"
        android:name=".ApplicationClass">
        <activity
            android:name="knightnews.android.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="knightnews.android.ReaderActivity"
            android:label="@string/app_name"
            android:parentActivityName="knightnews.android.FeedPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sigmobile.ucf_news.FeedPagerActivity"/>
        </activity>
        <activity
            android:name="knightnews.android.FeedPagerActivity"
            android:label="@string/app_name"
            android:parentActivityName="knightnews.android.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sigmobile.ucf_news.HomeActivity"/>
        </activity>
        <activity
            android:name="knightnews.android.EventsActivity"
            android:label="@string/app_name"
            android:parentActivityName="knightnews.android.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sigmobile.ucf_news.HomeActivity"/>
        </activity>
        <activity
            android:name="knightnews.android.SportsActivity"
            android:label="@string/app_name"
            android:parentActivityName="knightnews.android.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sigmobile.ucf_news.HomeActivity"/>
        </activity>
        <activity
            android:name="knightnews.android.UcfMapActivity"
            android:label="@string/app_name"
            android:parentActivityName="knightnews.android.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sigmobile.ucf_news.HomeActivity"/>
        </activity>
        <activity
            android:name=".ReaderWebViewActivity"
            android:label="@string/app_name"
            android:parentActivityName="knightnews.android.ReaderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sigmobile.ucf_news.ReaderActivity"/>
        </activity>
        <activity
            android:name=".SportsWebViewActivity"
            android:label="@string/app_name"
            android:parentActivityName="knightnews.android.SportsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sigmobile.ucf_news.SportsActivity"/>
        </activity>
        <activity
            android:name="knightnews.android.FeedActivity"
            android:label="@string/app_name"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCxrhHqc0WQNQ6Zx5hhJlTssWLn07uBJBw"/>

        <service android:name="com.parse.PushService"/>

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="knightnews.android"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>